[Unit]
Description=Universal Robot Pendant (Raspberry Pi OS Lite kiosk)
After=multi-user.target systemd-user-sessions.service
Conflicts=getty@tty1.service

[Service]
Type=simple
User=yjchoi
Group=yjchoi
SupplementaryGroups=video render input dialout gpio netdev
WorkingDirectory=/home/yjchoi/Universal-Robot-Pendant
Environment=HOME=/home/yjchoi
Environment=XDG_RUNTIME_DIR=/run/user/1000
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
PAMName=login
ExecStart=/home/yjchoi/Universal-Robot-Pendant/launch-rpi-lite.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
